/******** Universal Styles **********/

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 16px;
  }

body {
    background-color: violet;
}

h1 {
    color: red;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    padding-top: 30px;
    letter-spacing: 1rem;
    font-family: monospace;
}

h2 {
    color: red;
    text-align: center;
    font-size: 2rem;
    padding-top: 75px;
    padding-bottom: 75px;
    font-family: monospace;
}

h3 {
    color: red;
    text-align: center;
    font-size: 2rem;
    font-family: monospace;
}

a {
    text-decoration: none;
}

/********** Grids ***********/

    /****** Index page *******/

#index-grid {
    display: grid;
    grid-template: 125px repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 20px;
    height: 700px;
    grid-template-areas: "header header header"
                        "HTML CSS Javascript"
                        "Markdown Git Command-Line";
}

.box {
    background-color: springgreen;
    margin: solid black 2px;
    width: 250px;
    height: 200px;
    justify-self: center;
    align-self: center;
}

header {
    grid-area: header;
    background-color: steelblue;
}

#HTML {
    grid-area: HTML;
}

#CSS {
    grid-area: CSS;
}

#Javascript {
    grid-area: Javascript;
}

#Markdown {
    grid-area: Markdown;
}

#Git {
    grid-area: Git;
}

#Command-Line {
    grid-area: Command-Line;
}

    /******* Main Pages *********/

.main-grid {
    display: grid;
    grid-template: 125px / 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: 275px;
    grid-template-areas: "header header"
}

.main-info {
    background-color: orange;
    margin: solid black 2px;
    width: 600px;
    height: 200px;
    justify-self: center;
    align-self: center;
}

.example-code {
    background-color: purple;
    margin: solid black 2px;
    width: 600px;
    height: 200px;
    justify-self: center;
    align-self: center;
}
